<p>REGULAMIN SKLEPU INTERNETOWEGO</p>

<p>TRAMP</p>

  

<p>§1</p>

<p>Postanowienia ogólne</p>

 

<p>1. Sklep internetowy [dalej „Sklep”] prowadzi sprzedaż detaliczną za pośrednictwem Internetu, na podstawie      niniejszego Regulaminu [dalej „Regulamin”].</p>

<p>2. Właścicielem Sklepu jest: Kamil Kusiak.</p>

<p>3. Regulamin jest integralną częścią umowy sprzedaży zawieranej z Klientem.</p>

<p>4. Warunkiem zawarcia umowy sprzedaży jest akceptacja Regulaminu przez Klienta.</p>

<p>5. Ceny podane w Sklepie są cenami brutto (zawierają podatek VAT).</p>

<p>6. Towary dostępne w Sklepie są wolne od wad fizycznych i prawnych.</p>

 

<p>§2</p>

<p>Zamówienia</p>

 

<p>1. Zamówienia można składać w następujący sposób:</p>

<p>a) poprzez formularz dostępny na stronie internetowej Sklepu,</p>

<p>2. Warunkiem realizacji zamówienia jest podanie przez Klienta danych pozwalających na weryfikację Klienta i odbiorcy towaru. </p>

<p>3. Poprawnie złożenie zamówienia polega na wybraniu określonych towarów z oferty Sklepu oraz określeniu sposobu płatności, sposobu i miejsca dostawy towaru. Do klienta jest wysyłane automatycznie generowane potwierdzenie dokonania zakupów na wcześniej podany adres e-mail oznaczające moment rozpoczęcia realizacji zamówienia.</p>

<p>4.W przypadku podania niepełnych danych (adres wysyłki, nr telefonu, adres e-mail) zastrzegamy sobie prawo do niezrealizowania zamówienia.</p>

<p>5. W przypadku błędnie podanych danych Sklep nie ponosi odpowiedzialności za niedostarczenie przesyłki do klienta.</p>

<p>6. Dla stron wiążące są informacje zawarte na stronie internetowej Sklepu przy kupowanym towarze w momencie złożenia zamówienia, w szczególności: cena, charakterystyka towaru, jego cechy, elementy wchodzące w skład zestawu, termin i sposób dostawy.</p>

<p>7. Informacje znajdujące się na stronie internetowej Sklepu nie stanowią oferty w rozumieniu Kodeksu Cywilnego. Klient składając zamówienie składa ofertę zakupu określonego towaru. Złożenie zamówienia jest równoznaczne z zawarciem umowy sprzedaży towarów pomiędzy Klientem a Sklepem.</p>

<p>§3</p>

<p>Płatności</p>

<p>1. Klient ma do wyboru następujące formy płatności:</p>

<p>a) za pobraniem – wówczas zapłata następuje przy odbiorze towaru,</p>

<p>b) przelewem – wówczas Sklep rezerwuje towar w magazynie i wysyła go na adres wskazany przez Klienta po zaksięgowaniu wpłaty na rachunku bankowym wskazanym w tym celu na stronie internetowej Sklepu bądź w emailu do Klienta</p>

<p>c) gotówką - wyłącznie przy odbiorze osobistym</p>

<p>c) w inny sposób, jeżeli jest on określony na stronie internetowej Sklepu.</p>

<p>§4</p>

<p>Wysyłka towaru</p>

 

<p>1. Zamówiony towar Sklep wysyła za pośrednictwem firm wysyłkowych (np. Poczty Polskiej lub firmy kurierskiej) lub udostępnia do odbioru przez klienta w siedzibie firmy.</p>

<p>2. Zakupione towary są dostarczane pod adres podany podczas rejestracji w rubryce „Adres dostawy”.</p>

<p>3. Przewidywany czas realizacji zamówienia wynosi od 1 do 5 dni. W określonych przypadkach może się on przedłużyć, o czym Klient zostanie poinformowany telefonicznie bądź drogą elektroniczną.</p>

<p>4. Szczegółowe informacje odnośnie pkt 3 w zakładce Czas realizacji zamówienia.</p>